apiVersion: apps/v1
kind: Deployment
metadata:
  name: thaiha-guestbook-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: thaiha-frontend
  template:
    metadata:
      labels:
        app: thaiha-frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/thaiha-hub/thaiha-guestbook-frontend:f8ea335495591528ad4c0021b39f5891fb8cf5a5
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"

