apiVersion: apps/v1
kind: Deployment
metadata:
  name: thaiha-guestbook-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: thaiha-frontend
  template:
    metadata:
      labels:
        app: thaiha-frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/thaiha-hub/thaiha-guestbook-frontend:fc53f3079b552a8b7f1e854e6ed5b593c4901667
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"

